@import 'antd/dist/antd.css';
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

div, header, nav, article, section, aside, footer, h1, h2, h3, h4, h5, h6, p, a, ul, li, figure, figcaption, class, img {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'Roboto', sans-serif;
}

img, object, embed, canvas, video, audio, picture, svg {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

/* ------------------------------- RECURENTES -- */
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.center {
  width: 960px;
  margin: 0 auto;
}

/* ------------------------------- END RECURENTES -- */
.container-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-attachment: fixed;
  background-color: #D0EDD3;
}
.container-header .gauche {
  background-image: url(../imgs/gauche.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -120px;
  height: 1000px;
  width: 100%;
}
.container-header .droite {
  background-image: url(../imgs/droite.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -390px;
  right: -110px;
  height: 1000px;
  width: 100%;
}

.container-header nav {
  background: transparent !important;
  border: none;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.container-header h1 {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  color: #a19c9c;
}

.container-text {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#135554), to(#372d3b));
  background: linear-gradient(180deg, #135554 0%, #372d3b 100%);
  position: relative;
  top: -50px;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-text .etape {
  width: 80%;
  border: solid 1px #FBC13E;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-text .etape h1 {
  color: #FBC13E;
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.container-text .etape article {
  width: 25%;
  padding-top: 50px;
}
.container-text .etape article h2 {
  color: #FBC13E;
  font-size: 50px;
  border: solid 1px #FBC13E;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  padding-left: 28px;
  padding-top: 18px;
  margin: 0 auto;
}
.container-text .etape article p {
  text-align: center;
  width: 80%;
  color: #FBC13E;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 30px;
}

.container-text .etape article p b {
  color: #D94362;
}

.container-text .valeurs {
  width: 80%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0px;
}

.container-text .valeurs article {
  width: 20%;
  padding-top: 50px;
}
.container-text .valeurs article .picto {
  width: 100%;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container-text .valeurs article .picto.un {
  background-image: url(../imgs/picto-un.png);
}

.container-text .valeurs article .picto.deux {
  background-image: url(../imgs/picto-deux.png);
}

.container-text .valeurs article .picto.trois {
  background-image: url(../imgs/picto-trois.png);
}

.container-text .valeurs article .picto.quatre {
  background-image: url(../imgs/picto-quatre.png);
}

.container-text .valeurs article .picto.cinq {
  background-image: url(../imgs/picto-cinq.png);
}

.container-text .valeurs article p {
  text-align: center;
  width: 60%;
  color: #FBC13E;
  font-size: 25px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 30px;
}
.container-text .valeurs article p b {
  color: #D94362;
}

.prevu {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(179.22deg, #D0EDD3 25.7%, rgba(140, 168, 43, 0.1) 100.23%, rgba(51, 60, 20, 0) 100.24%);
}

.prevu .bg-bot {
  background-image: url(../imgs/bg-bot.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 269px;
  position: absolute;
  top: -50px;
}

.prevu .container-carte {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prevu .container-carte .carte {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 250px;
  margin: 50px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.prevu .container-carte .carte:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.prevu .container-carte .carte span {
  background: rgba(75, 143, 21, 0.7);
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 100%;
  right: -200px;
  top: -200px;
}
.prevu .container-carte .carte img {
  position: absolute;
  top: 50px;
}
.prevu .container-carte .carte h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 250px;
}

.prevu .container-carte .button {
  width: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prevu .container-carte .button span {
  border: solid 1px black;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 30px;
  width: 40%;
  margin-top: 20px;
  text-align: center;
}

.top .container-carte {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .container-carte .carte {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 250px;
  margin: 50px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: black;
          box-shadow: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.top .container-carte .carte:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top .container-carte .carte span {
  background: rgba(75, 143, 21, 0.7);
  height: 400px;
  width: 400px;
  position: absolute;
  border-radius: 100%;
  right: -200px;
  top: -200px;
}
.top .container-carte .carte img {
  position: absolute;
  top: 50px;
}
.top .container-carte .carte h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 250px;
}

.top .container-carte .button {
  width: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .container-carte .button span {
  border: solid 1px black;
  font-size: 20px;
  cursor: pointer;
  padding: 15px 30px;
  width: 40%;
  margin-top: 20px;
  text-align: center;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
/*# sourceMappingURL=styles.css.map */
